@media(max-width:1610px){
   .memberList h1{
      padding-top: 430px;
   }
   .mTxt{
      display: none;
   }
}
@media(max-width:1508px){
   .memberList{
      width: 50%;
      height: 40%;
   }
   .memberList h1{
      padding-top: 430px;
   }
}
@media(max-width:1420px){
   .headerMiddle h1{
      font-size: 54px;
      padding-top: 330px;
   }
}
@media(max-width:1241px){
   .headerMiddle h1{
      font-size: 54px;
   }
   .btn{
      width: 20%;
      padding: 20px 10px;
   }
   aside{
      width: 100%;
   }
   .asideGp{
      margin-top: 120px;
      margin-left: 120px;
      padding: 0;
      width: 580px;
   }
   aside p{
      text-align: center;
      font-size: 20px;
   }
   /*ヘッダー、ヘッダーコンテンツここまで*/
   .wrapper{
      max-width: 800px;
      margin: 0 auto;
   }
   .mainContents{
      padding: 0;
      height: 0;
   }
   article{
      margin-top: 150px;
      text-align: center;
      width: 100%;
   }
   article h1{
      font-size: 80px;
   }
   article p{
      text-align: center;
      font-size: 20px;
   }
   .gameQa{
      text-align: center;
      padding: 0;
      margin: 0;
      width: 100%;
      padding-top: 420px;
   }
   .gameQa h1{
      font-size: 70px;
   }
   .gameQa p{
      text-align: center;
   }
   .gameQa2{
      width: 100%;
   }
   .gameQa2 h1{
      font-size: 90px;
   }
   .gameQa3{
      padding-top: 200px;
   }
   .gameQa3 h1{
      font-size:80px;
   }
   .member{
      height: 20vh;
   }
   .memberBb{
      height: 20vh;
   }
   .mTitle{
      padding: 80px 0 0 0;
      margin: 0;
   }
   .mTxt{
      padding: 0;
      margin: 0;
   }
   .memberList{
      max-width: 900px;
      margin: 0 auto;
   }
}  

@media(max-width:1022px){
   .headerMiddle{
      max-width: 900px;
      margin: 0 auto;
   }
   .headerMiddle h1{
      font-size: 45px;
   }
}
@media(max-width:851px){
   .headerMiddle{
      max-width: 800px;
      margin: 0 auto;
   }
   .headerMiddle h1{
      padding-top: 330px;
      font-size: 40px;
   }
   .btn{
      width: 30%;
   }
}
@media(max-width:797px){
   .headerMiddle{
      max-width: 650px;
   }
   .headerMiddle h1{
      font-size: 34px;
   }
   .mainContents{
      max-width: 700px;
      margin: 0 auto;
   }
   .asideGp{
      padding: 0;
      margin: 5% 0 0 9%;
   }
}
@media(max-width:690px){
   .mainContents{
      max-width: 500px;
      margin: 0 auto;
   }
   .asideGp{
      width: 100%;
      padding: 0 0 0 0;
      margin: 20px 0 0 0;
   }
   aside p{
      padding: 0;
      margin: 0;
   }
}
@media (max-width:630px){
   .headerNav{
      display: none;
   }
   .headerTop a{
      display: inline;
      text-align: center
   }
}
